{% extends 'site.twig' %} 


{% import _self as forms %}
{% macro linkedin(name,last,width) %}
    <script type="IN/MemberProfile" data-width="{{ width|default(250) }}" data-id="{{ name }}" data-related="false" data-format="inline"></script>
{% endmacro %}
{% macro github(name) %}
    <div data-repo="{{ name }}"></div>
{% endmacro %}

{% block urltile %}{{ project.name}}{% endblock %}
{% block pagetile %}{{ project.name}}{% endblock %} 

{% block injectCSS %}
    <link rel="stylesheet" href="/plugins/jquery-github/assets/base.css">
    <style>
        .galleria-thumbnails-container {
            background: none repeat scroll 0 0 #0b0b0b;
            opacity: 0.85;
            width: 100% !important;
            height: 100% !important;
        }
        .galleria-stage
        {
            background: none repeat scroll 0 0 #FFF;
            border: 1px solid #e4e4e4;
        }
        .github-box .github-box-download {
            height: auto;
        }

        .cite .csl-entry {
            white-space: nowrap;
            cursor: pointer;
        }
        .csl-bib-body a, .cite .csl-entry
        {
            color: #b70606;
        }
        #publist > li
        {
            margin-bottom: 12px;
            margin-left: -16px;
        }
        .popover
        {
            background: none repeat scroll 0 0 #fffef1;
        }
    </style>
{% endblock %}

{% block pagedescription %}
    <h2>{% block project_title %}{% endblock %}</h2>
    <div class="subtitle">
        <span id="prj-inst">{% block project_inst %}{% endblock %}</span> -
        <span id="prj-loc">{% block project_loc %}{% endblock %}</span> (
        <time id="prj-start" datetime="{{ block('project_start') }}"><span>{% block project_start %}{% endblock %}</span></time> -
        <time id="prj-end" datetime="{{ block('project_end') }}"><span>{% block project_end %}{% endblock %}</span></time>)
    </div>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a title="Home" href="{{ urlFor('home') }}">Home</a></li>
        <li><a title="Projects" href="{{ urlFor('project.all') }}">Projects</a></li>
        <li class="active">{{ project.name}}</li>
    </ol>
{% endblock %}   

{% block content %}
    <section class="white-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-7 col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-widget">
                                <div class="text-widget-title">
                                    <h3>Project Overview</h3>
                                </div>

                                {% block project_overview %}
                                {% endblock %}

                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="text-widget">
                                <div class="text-widget-title">
                                    <h3>Selected Publications</h3>
                                </div>
                                <ul class="pub-tag" id="publist">

                                </ul>

                            </div>
                        </div>




                        <div class="col-sm-6 col-lg-5">
                            <div class="text-widget">
                                <div class="text-widget-title">
                                    <h3>Links</h3>
                                </div>
                                <div class="widget-containt categories">
                                    {% block project_links %}
                                    {% endblock %}
                                </div>

                            </div>
                        </div>

                    </div>
                </div>



                <div class="col-sm-5 col-md-4">

                    <div class="text-widget">
                        <div class="galleria" style="min-height: 400px; ">

                        </div>
                    </div>

                    <div class="text-widget">
                        <div class="text-widget-title">
                            <h3>Slides</h3>
                        </div>
                        <div class="widget-containt">
                            <ul class="project-details">
                                <div class="loading"><i class="fa fa-spinner fa-spin"></i></div>
                            </ul>
                        </div>

                    </div>

                    <div class="text-widget">
                        <div class="text-widget-title">
                            <h3>People</h3>
                        </div>
                        {% block project_people %}
                        {% endblock %}

                    </div>

                </div>
            </div>




        </div>

    </section>




{% endblock %} 

{% block injectJS %}
    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
    <script src="/plugins/jquery-github/jquery.github.js"></script>
    <script src="/plugins/galleria/galleria.js"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            /** Configure Citations Popups
            $('html').on('click', function(e) {
                if (typeof $(e.target).data('original-title') == 'undefined' && !$(e.target).parents().is('.popover.in')) {
                    $('[data-original-title]').popover('hide');
                }
            });
            */

            /** Configure Galleria Plugin **/
            Galleria.loadTheme('/plugins/galleria/themes/twelve/galleria.twelve.js');
            Galleria.configure({
                showInfo: true,
                transition: "pulse",
                transitionSpeed: 500,
                imageCrop: false,
                thumbCrop: false,
                carousel: false,
                autoplay: 4000
            });

            /** Configure GitHub Plugin **/
            $("[data-repo]").github();

            /** Load Publications **/
            $.getJSON("{{ urlFor('api.pub.project',{name: project.id})}}")
                    .done(function(data){
                        $.each( data, function( index, value ){
                            var ref = $(value.output.ref);
                            if (value.PubReader)
                            {
                                $(ref).find("span.csl-title").wrap($("<a/>",
                                        {
                                            'href': value.PubReader,
                                            'title': "Go to full text"
                                        }
                                ));
                            }
                            $(ref).append("&nbsp;[").append($(" <a/>",
                                    {
                                        'class': "refpdf",
                                        'text': "PDF",
                                        'href': value.PDF,
                                        'title': "Download the PDF"
                                    }
                            )).append("]");
                            var temp = $('<li/>', {
                                        'id': index,
                                        'data-type': value.type,
                                    }).html(ref)
                                    .append($('<abbr/>', {
                                        'class': 'unapi-id',
                                        'title': value.id
                                    }))

                                    ;//.append(value.output.coins);
                            temp.appendTo('#publist');
                        });

                        /* Format in-text citations */
                        $(".cite").each(function() {
                            var ref = $( this ).data( "pubidx" );
                            if (ref && data[ref])
                            {
                                $( this).attr('tabindex',0);
                                $( this ).html(data[ref].output.cite);
                                $( this ).popover(
                                        {
                                            trigger: 'focus',
                                            container: '.scroller',
                                            html: true,
                                            content : $("li#"+ref).html()
                                        });


                            }
                        });

                    })
                    .fail(function(){
                        console.log( "error" );
                    })
                    .always(function() {
                        // force update of Zotero plugin (Firefox)
                        var ev = document.createEvent('HTMLEvents');
                        ev.initEvent('ZoteroItemUpdated', true, true);
                        document.dispatchEvent(ev);
                    });



            /** Load Project Images **/
            $.getJSON("{{ urlFor('api.images.project',{name: project.id})}}")
                    .done(function(data){
                        var _dataSource = [];
                        $.each( data, function( index, slide ){
                            _dataSource.push(
                                    {
                                        image:slide.url,
                                        thumb:slide.thumb,
                                        title: slide.title,
                                        description: slide.comment
                                        //link: 'http://my.destination.com',
                                        //layer: '<div><h2>This image is gr8</h2><p>And this text will be on top of the image</p>'

                                    }
                            );
                        });
                        Galleria.run('.galleria', {
                            dataSource: _dataSource
                        });

                    }).fail(function(){
                        Holder.add_image("holder.js/100%x150/gray/text:no images", "#container-flexslider").run()
                        console.log( "error" );
                    });


            /** Load Project Slides  **/
            $.getJSON("{{ urlFor('api.slide.project',{name: project.id})}}")
                    .done(function(data){
                        data.Slideshow = data.Slideshow || {};
                        $(".project-details").empty();
                        $.each( data.Slideshow, function( index, slide ){
                            var holder = $('<div/>',{
                                'class': 'embed',
                                'data-href': slide.URL
                            }).appendTo($(".project-details"));
                            var temp = $('<img/>', {
                                'src' : slide.ThumbnailURL
                            }).appendTo(holder);
                        });


                        $(".embed").click(function()
                        {
                            console.log("Slideshare Loading ...");
                            $url = $(this).data("href");
                            $(this).unbind( "click" );
                            $(this).oembed($url,{
                                afterEmbed: function(){
                                    $("#slides").fitVids({ customSelector: "iframe[src^='http://www.slideshare.net'], iframe[src^='http://myviiids.com']"});
                                },
                                embedMethod: 'fill'
                            });
                        });
                    });
        });
    </script>
{% endblock %}