{% extends 'site.twig' %} 
{% block urltile %}Research Projects{% endblock %}
{% block pagetile %}Research Projects{% endblock %} 

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a title="Home" href="{{ path_for('home') }}">Home</a></li>
		<li class="active">Projects</li>
	</ol>
{% endblock %}

{% block pagedescription %}
	<h2>Research Projects - Timeline</h2>
{% endblock %}

{% block content %}
<section class="white-section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- col-md-12 -->
			<div class="col-md-12">

				<!-- timeline-graph -->
				<ul class="timeline-graph">

				{% for project in projects %}
					<li id="{{ project.id }}" data-url="{{ path_for('api.projects.named',{'name':project.id }   ) }}">
						<div class="tm-dt">
						<!-- date --> 
							<time class="prj-start"><span>{{ project.start }}</span></time>
							
							<time class="prj-end"><span>{{ project.end }}</span></time>
						</div>
						<!-- icon -->
						<div class="tm-icon">
							<i class="fa fa-briefcase"></i>
						</div> <!-- content -->
						<div class="tm-label" >
							<!-- title -->
							<h4>{{ project.title }}
							</h4>
							<!-- post -->
							<div class="post-content" >
								<p>{{ project.description | raw }}</p>
							</div>
							<div class="post-meta">
								<span class="post-author"><a title="See more" href="{{ path_for('project.named',{'name':project.id}) }}">See More ...</a></span>
							</div>	
						</div>
						
						<!-- /content -->
					</li>
					{% endfor %}

				</ul>
				<!-- /timeline-graph -->
				<a href="{{ path_for('project.story') }}" class="btn btn-black btn-clear">Explore the Story Map</a>
			</div>
			<!-- /col-md-12 -->

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</section>


{% endblock %}

{% block injectCSS %}
{% endblock %}


{% block injectJS %}
<script>
    $(document).ready(function() {
	});
</script>
{% endblock %}
