<!DOCTYPE html>
<html lang="en" class="no-js no-jr">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="//www.googletagmanager.com/gtag/js?id=UA-49330125-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-49330125-1');
    </script>

    <meta charset="UTF-8"/>
    <title>NVL | {{ item.title }}</title>

    <meta name="apple-mobile-web-app-capable" content="no"/>
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="shortcut icon" href="/images/favicon.png"/>
    <link rel="unapi-server" type="application/xml" title="unAPI" href="{{ app_base~'/api/unapi' }}"/>

    <script src="/js/jr.boots.js" type="text/javascript" ></script>

    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet" type="text/css" rel="stylesheet"  />
    <link href="/css/pubreader-nvl.min.css" type="text/css" rel="stylesheet" />

    {#<link rel="stylesheet" href="//cdn.jsdelivr.net/syntaxhighlighter/3.0.83/styles/shCore.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.sidr/1.2.1/stylesheets/jquery.sidr.dark.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">#}
    <style type="text/css" media="print">
        @page
        {
            size: auto;   /* auto is the initial value */
        }

        body
        {
            background-color:#FFFFFF;
            border: none;

        }
        body *
        {
            display: none;
        }

        body:after
        {
            content: "Please use the PDF version of this paper for printing";
            font-size: 45px;
            font-weight: 900;
        }
    </style>
    <style>
        .first-line-outdent.inline-ref li:before {
            content: "[" attr(data-ref) "] "
        }
        pre.code {
            color: #585858;
            font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
            font-weight: 600;
            line-height: 1.2em;
            white-space: pre-line;
            word-wrap: break-word;
        }
        #jr-objectbox
        {
            max-height: 100% ;
        }
        #jr-objectbox article .wrapper
        {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        #jr-objectbox article .wrapper .figure {
            flex: 1 1 90%;
            overflow: auto;
            max-width: 90%;
        }
        #jr-objectbox article .wrapper .caption {
            flex: 1 1 10%;
            overflow: auto;
        }
        article header, article .fm-sec, article h1, article h2, article h3, article h4, article h5, article h6
        {
            font-family: "Lato",Helvetica,Arial,sans-serif;
        }
        article {
            font-family: "PT Sans",Helvetica,Arial,sans-serif;
        }
        a.bibr.tag_note sup {
            background-color: rgba(250, 224, 55, 0.5);
            color: hsl(21, 45%, 25%);
        }
        table.rendered th{
            min-width: 40px;
            text-align: left;
        }
        table.rendered thead, table.rendered
        {
            border-bottom: 4px double black;
        }

        table.rendered colgroup.gr
        {

            border-left: 1px solid black;
        }
        table.rendered tbody
        {
            border-top: 1px solid black;
            border-bottom: 1px solid black;

        }
        span.code
        {   color: #585858;
            font-weight: 600;
            font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
        }
        ol.ref-numbered {
            counter-reset: item;
            margin-left: 0;
            padding-left: 1.2em;
        }

        ol.ref-numbered li {
            list-style-type: none;
            margin-bottom: 0.5em;
            padding-left: 1.2em;
            text-indent: -1.2em;
        }

        ol.ref-numbered li:before {
            content: "[" counter(item, decimal) "]";
            counter-increment: item;
            display: inline-block;
            width: 1.2em;
        }
        h3:target{
            animation: 6s ease 0s normal none 1 highlight;
        }
        .MathJax_Display, .syntaxhighlighter  {
            background-color: rgba(192, 192, 192, 0.2);
            padding: 10px;
        }
        .flexwrapper
        {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        aside .cnt {
            flex: 2 0 0px;
        }

        aside#jr-cmap-p {
            height: 100%;
        }
        aside .lol a
        {
            margin: 3pt;
        }
        aside .lol a.lvl3
        {
            margin-left: 20px;
        }
        aside .lol a.lvl4
        {
            margin-left: 30px;
        }

        aside.sidr
        {
            max-height: 100%;
        }
        pre.code {
            white-space: pre-line;
        }
        #jr-content article[data-type="main"]
        {
            -webkit-transition:-webkit-transform  0.4s ease;
            -moz-transition: -moz-transform  0.4s ease;
            -ms-transition:-ms-transform  0.4s ease;
            -o-transition:-o-transform  0.4s ease;
            transition: transform  0.4s ease;
        }
        #jr-pmc-sw > span {
            color: #999999;
            font-family: sans-serif;
            font-weight: 900;
        }
        #jr-pmc-sw:hover > span
        {
            color: #666666;
        }
        .flexh
        {
            display: flex;

        }
        .tb > div {
            flex: 1 0 auto;
        }
        .flexh .f1, .flexv .f1 {
            display: block;
            flex: 1 1 100%;
        }

        .sidr .lol a {
            background-color: #ddd;
            border: 1px solid transparent;
            border-radius: 4pt;
            color: #666;
            display: block;
            font-family: "HelveticaNeue-CondensedBold","Arial Narrow","ArialMT","Arial",sans-serif;
            font-size: 11pt;
            font-weight: bold;
            height: 25pt;
            line-height: 25pt;
            margin: 6pt;
            overflow: hidden;
            padding: 0 4pt;
            text-align: left;
            text-decoration: none;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .sidr .lol a.current {
            background-color: #fea;
            font-size: 12pt;
        }
        .sidr .lol a.current, aside .lol a:hover {
            color: #333;
        }
        .sidr .lol a:hover {
            background-color: #ccc;
        }
        .sidr  .lol a:active {
            background-color: #fff;
            color: #000;
        }
        .articleinfo
        {
            border: 1px solid #ccc;
        }
        .articleinfo div
        {
            font-size: 10pt;
            line-height: 1.25em;
            padding: 2px;
            text-align: justify;
        }

        .warning
        {
            border: 4pt double #e0ecff;
            border-radius: 6pt;
            color: #888;
            margin-top: 100px;
            padding: 50pt 10pt;
        }

    </style>
</head>

<body>
<div id="jr" data-jr-path="../">
    {% set links = [] %}
    {% if block('links') is defined %}
        {% set links = block('links') %}
    {% endif %}
    {% include "publications/pubreader.ui.twig" with { paper_links: link } %}
<div id="jr-content">


    <article data-type="main">

        <div class="articleinfo">
                <div class="t">{{ item.output.ref|raw() }}</div>
        </div>

        <header class="fm-sec">
            <h1 class="content-title">{{ item.title }}</h1>
            <p class="contribs"> {% for auth in item.author %}
                    {{ auth.given|slice(0,1)~'.' }} {{ auth.family }} {{ loop.last ? '' : ',' }}
                {% endfor %}</p>

            <abbr class="unapi unapi-id" title="{{item.archive_location}}"></abbr>
        </header>

        <section class="sec">
            <h2 id="__abstract">Abstract</h2>
            <p>{{ item.abstract }}</p>
        </section>

        {% block article %}{% endblock %}
        {% block references %}{% endblock %}
        {% block notes %}{% endblock %}
    </article>
    <article id="ob-xxxsxx" class="full-details">
        {{item.output.ref|raw()}}
    </article>
    {% block figures %}{% endblock %}

</div>
<div id="jr-scripts">
    <script src="//cdn.jsdelivr.net/syntaxhighlighter/3.0.83/scripts/shCore.js"></script>
    <script src="//cdn.jsdelivr.net/syntaxhighlighter/3.0.83/scripts/shBrushXml.js"></script>
{#
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/lib/js/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/lib/js/modernizr.jr.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/lib/js/jquery.throttle.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/lib/js/jquery.mousewheel.js?x=1" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/lib/js/rangeinput.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/lib/js/jquery.touchSwipe.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/lib/js/jquery.hoverIntent.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/lib/js/figpopup.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/js/jr.utils.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/js/jquery.jr.ft.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/js/jquery.jr.pagemanager.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/js/jquery.jr.paginationstatus.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/js/jquery.jr.pageturnsensor.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/js/jquery.jr.pageprogressbar.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/js/jquery.jr.links.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/js/jquery.jr.historykeeper.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/js/jquery.jr.objectbox.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/js/jquery.jr.switcher.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/js/jquery.jr.panel.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/js/jquery.jr.panel.typo.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/js/jquery.jr.panel.cmap.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/js/jquery.jr.panel.istrip.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/js/jquery.jr.fip.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/gh/vanch3d/PubReader@1.3/js/jats.reader.js" type="text/javascript"></script>
  #}
    <script src="/js/pubreader-lib.min.js" type="text/javascript"></script>
    <script src="/js/pubreader.min.js" type="text/javascript"></script>
    {#<script src="//cdn.jsdelivr.net/jquery.sidr/1.2.1/jquery.sidr.js"></script>#}
    <script>
        $(document).ready(function() {
            SyntaxHighlighter.defaults['gutter'] = false;
            SyntaxHighlighter.defaults['toolbar'] = false;
            SyntaxHighlighter.defaults['quick-code'] = false;
            SyntaxHighlighter.all();
            $('#gggggg').jr_ObjectBox({
                'objectBoxClass': 'about',
                contentLocal: true,
                contentLocalAttr: 'data-obj'
            })
          /*  $('#jr-cmap-p2').jr_PanelCmap({'poc': '#jr-content'})
            $('#jr-cmap-sw').sidr({
                side: 'right',
                renaming: false,
                name: 'jr-cmap-p2'
                //source: '#demoheader, #jr-cmap-p2'
            /*source: function(name) {
             return $('#jr-cmap-p2').html();

             }*/
           // });*/
            //$('.sidr a.jr-p-close').click(function() {
             //   $.sidr('close', 'jr-cmap-p2');
             //});#

            function getQueryVariable(variable)
            {
                var query = window.location.search.substring(1);
                var vars = query.split("&");
                for (var i=0;i<vars.length;i++) {
                    var pair = vars[i].split("=");
                    if(pair[0] == variable){return pair[1];}
                }
                return(false);
            }
            var search = window.location.search;
            var ret = null;
            if (ret = getQueryVariable("search"))
            {
                console.log(ret);
                $('#jr-fip').trigger("jr:fip:show");
                $("#jr-fip-term").val(decodeURIComponent(ret));
                $("#jr-fip-mg").trigger("click");
            }

        });
    </script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$','$'], ['\\(','\\)']],
                processEscapes: true
                },
                showProcessingMessages: true,
                messageStyle: "none"
              });

    </script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</div>
</div>
</body>
</html>
