{% extends 'site.twig' %}

{% block urltile %}Publications{% endblock %}
{% block pagetile %}Publications{% endblock %}


{% block pagedescription %}
    <h2>List of all publications</h2>
{% endblock %}


{% block breadcrumb %}
 <ol class="breadcrumb">
	<li><a title="Home" href="{{ path_for('home') }}">Home</a></li>
    <li class="active">Publications</li>
</ol>
{% endblock %}   

{% block injectCSS %}
    <style>
        <!--
        /*.pub-tag .csl-bib-body:after {
            color: #E10707;
            content: "";
            font-family: 'FontAwesome';
            height: 24px;
            position: absolute;
            right: 0;
            text-align: right;
            top: 0;
            width: 24px;
        }

        .pub-tag li{
            text-align: justify;
        }

        .csl-entry {
            text-align: justify;
            padding-right: 30px;
        }*/


        .expand.collapsing, .expand.collapse.in
        {
            z-index: 99999;

        }

        .item
        {
            z-index: auto;
            position: relative;
            width: 100%;
        }

        .item[data-group]
        {
            z-index: 0;
            width: auto;
        }


        .expand
        {
            background-color: #ffffff;
            padding-left: 25px;
            border-left: 5px solid #E10707;

        }

        .expand .abstract
        {
            padding: 10px 0;
            font-size: 14px;
            line-height: 16px;
        }

        .panel
        {
            padding: 10px;
            text-align: justify;
        }

        .title:after {
            color: #333333;
            content: "";
            font-family: 'FontAwesome';
            height: 0;
            padding-top: 10px;
            position: absolute;
            right: 0;
            top: 0;
            width: 24px;

        }

        .title
        {
            cursor: pointer;
        }

        .title.collapsed:after {
            color: #E10707;
            content: "";
        }

        .panel {
            padding-right: 30px;
        }



        .meta span {
            padding-right: 4px;
        }

        .meta span:before
        {
            color: #E10707;
            font-family: 'FontAwesome';
            line-height: 17px;
            position: relative;
            padding-right:4px;
        }

        .meta span + span {
            border-left: 1px solid #747474;
            padding-left: 8px;
        }

        .meta .project:before {
            content: "";
        }

        .meta .pubreader:before {
            content: "";
        }

        .meta .doi:before {
            content: "";
        }

        .meta .pdf:before {
            content: "";
        }

        .meta .bib:before {
            content: "\f0ea";
        }

        @media only screen and (max-width: 1199px) {
            .gray-section {

            }
        }

        @media only screen and (max-width: 990px) and (min-width: 768px) {
            .gray-section {

            }
        }

        @media only screen and (max-width: 767px)  {
            .gray-section {

            }
            .widget-title {
                display: inline-block;
                width: auto;
                margin-bottom: 0;
            }

            .widget-containt {
                display: inline;
            }

            .widget-title h3 {
                padding-bottom: 0;
            }
            .widget {
                margin-bottom: 0px;
                padding-bottom: 2px;
            }

        }

        .pub-tag .panel {
            margin-bottom: 3px;
        }

        .panel-group .panel + .panel {
            margin-top: 0px;
        }

        button.btn-filter {
            float: left;
        }

        @media only screen and (max-width: 479px) {
            .gray-section {

            }
        }

        .widget:last-child::after {
            background-image: none;
        }

        -->
    </style>
{% endblock %}


{% block content %}
<section class="white-section">
	<div class="container-fluid">
        <div class="row">

            <div class="col-sm-3 col-sm-push-9">
                <aside class="sidebar" >
                    <div class="widget categories">
                        <div class="widget-containt">
                            <button class="btn btn-black btn-clear active" data-filter-value="*">all</button>
                        </div>
                    </div>
                    <div class="widget categories">
                        <!--<div class="widget-title">
                            <h3>By Type</h3>
                        </div> -->
                        <div class="widget-containt" id="pubtype">
                            {% for type in types %}
                                <button class="btn btn-black btn-filter" data-filter-type="type"
                                        data-i18n="pub.{{ type }}" data-filter-value="{{ type }}">{{ type }}</button>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="widget categories">
                        <!--<div class="widget-title">
                            <h3>By Year</h3>
                        </div>-->
                        <div class="widget-containt" id="pubyear">
                            {% for year in years %}
                                <button class="btn btn-black btn-filter" data-filter-type="year" data-filter-value="{{ year }}">{{ year }}</button>
                            {% endfor %}
                        </div>
                    </div>
                </aside>
                <aside class="sidebar">
                    <div class="widget categories">
                        <div class="widget-title">
                            <h3>See also ...</h3>
                        </div>
                        <div class="widget-containt">
                            <ul>
                                <li><a href="{{ path_for('publications.all.network') }}">Co-authorship Network</a><br>
                                Visualising networks of research activities
                                <li><a href="{{ path_for('publications.all.narrative') }}">Research Narrative</a><br>
                                Visualising evolution of key concepts throughout research activities

                            </ul>
                        </div>

                    </div>

                </aside>
			</div>

			<div class="col-sm-9 col-sm-pull-3">
                <div class="pub-tag" id="publist">
                    {% for pub in publications %}
                        <article class="item panel" data-type="{{pub.type}}" data-year="{{pub.issued['date-parts'][0][0]}}"
                             style="z-index:{{index}};">
                            <div class="title collapsed" data-parent="#publist" data-toggle="collapse"
                                 data-target="#item-{{pub.id}}">
                                <p>{{ pub.output.ref | raw}}</p>
                            </div>
                            <div id="item-{{pub.id}}" class="expand collapse">
                                <div class="abstract"><p>
                                    {% if pub.abstract %}
                                        {{ pub.abstract }}
                                    {% endif %}</p>
                                </div>
                                <div class="meta">
                                    <span class="project"><a href="{{pub.project.url}}" title="Go to project page">{{pub.project.id}}</a></span>
                                    {% if pub.PubReader %}
                                        <span class="pubreader"><a href="{{pub.PubReader}}" title="Go to full text">PubReader</a></span>
                                    {% endif %}
                                    {% if pub.DOI %}<span class="doi">{{ doi(pub.DOI)|raw }}</span>{% endif %}
                                    {% if pub.PDF %}<span class="pdf"><a href="{{pub.PDF}}" title="Download the PDF">PDF</a></span> {% endif %}
                                    {% if pub.output.bibtex %}
                                        <span class="bib"><a class="bib-copy" data-bib="{{ pub.output.bibtex }}" href="#" title="Copy bibtex to clipboard">Bibtex</a></span>
                                    {% endif %}
                                </div>
                                <abbr class="unapi unapi-id" title="{{pub.id}}"></abbr>

                            </div>
                        </article>
                    {% endfor %}
                </div>
 			</div>

	    </div>
    </div>
</section>
{% endblock %}

{% block injectJS %}
    <script type="text/javascript">

        //extend Isotope hide/show to update coins/unapi
        var oldIsotopeReveal = Isotope.Item.prototype.reveal;
        Isotope.Item.prototype.reveal = function() {
            oldIsotopeReveal.call(this);

            var t = $(this.element).find(".unapi");
            if (t) $(t).addClass("unapi-id");
            t = $(this.element).find(".coins");
            if (t) $(t).addClass("Z3988");
        };

        var oldIsotopeHide = Isotope.Item.prototype.hide;
        Isotope.Item.prototype.hide = function() {
            oldIsotopeHide.call(this);
            if ( this.isHidden )
            {
                var t = $(this.element).find(".unapi");
                if (t) $(t).removeClass("unapi-id");
                t = $(this.element).find(".coins");
                if (t) $(t).removeClass("Z3988");
            }
        };

        $(document).ready(function()
        {
            // add identifier to the coins markup.
            $(".Z3988").toggleClass("coins");

            // allows Bibtex record to be copied in clipboard
            $(".bib-copy").click(function ()
            {
                var bibtex = $(this).attr("data-bib");

                // create a temporary input to copy from
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val(bibtex).select();
                var ret = document.execCommand("copy");
                $temp.remove();

                if (ret){
                    // mimick GitHub's copied notification :-)
                    var title = $(this).attr('title');
                    $(this).attr('title',"Copied!");
                    $(this).tooltip('show').delay(500).queue(function() {
                        $(this).tooltip('destroy').dequeue();
                        $(this).attr('title',title);
                        console.log("close popup");
                    });
                }
            });

            // start isotope layout
            var $container = $('#publist').isotope({
                itemSelector: '.item',
                layoutMode: 'vertical',
                transitionDuration: '0.8s',
                getSortData: {
                    year: function(elem){
                        return $(elem).attr('data-year');
                    }
                }
                //sortBy : 'year',
                //sortAscending: false
            });

            $('.btn-filter').click(function( event ) {
                $('.btn-filter,.btn-clear').removeClass("active");
                $(this).addClass("active");
                var filterValue = $(this).attr('data-filter-value');
                var filterType = 'data-' + $(this).attr('data-filter-type');
                $container.isotope({ filter: "["+filterType+"='"+filterValue+"'],[data-group='true']"});
            });
            $('.btn-clear').click(function( event ) {
                $('.btn-filter').removeClass("active");
                $(this).addClass("active");
                $container.isotope({ filter: "*"});
            });

            // force update of Zotero plugin when layout completed
            $container.isotope( 'on', 'layoutComplete', function()
            {
                var ev = document.createEvent('HTMLEvents');
                ev.initEvent('ZoteroItemUpdated', true, true);
                document.dispatchEvent(ev);
            });

            // re-layout when collapsed info shown or hidden
            $('.expand').on('hidden.bs.collapse', function () {
                $container.isotope('layout');
            });
            $('.expand').on('shown.bs.collapse', function () {
                $container.isotope('layout');
            });

        });
</script>
{% endblock %}