<!-- Home -->
<li><a href="{{ urlFor('home') }}" title="Home"><i class="fa fa-home"></i>Home</a></li>

<!-- Project Portfolio -->
<li><a class="gn-dropdown gn-highlight" href="javascript:void(0)" title="Projects"><i
                class="fa fa-briefcase"></i> Projects</a>
    <ul style="display: none;" class="gn-submenu">
        <li><a href="{{ urlFor('project.named',{ 'name' : 'safesea'}) }}" title="SAFeSEA">SAFeSEA</a></li>
        <li><a href="{{ urlFor('project.named',{ 'name' : 'auditorygames'}) }}" title="NBRUH">NBRUH</a></li>
        <li><a href="{{ urlFor('project.named',{ 'name' : 'calques3d'}) }}" title="Calques 3D">Calques 3D</a></li>
        <li><a href="{{ urlFor('project.all') }}" title="All projects">See more ...</a></li>
    </ul>
</li>

<!-- Publications -->
<li><a href="{{ urlFor('publications.all') }}" title="Publications"><i class="fa fa-book"></i>Publications</a></li>

<!-- About Us -->
<li><a class="gn-dropdown" href="javascript:void(0)" title="About..."> <i class="fa fa-user"></i> About...</a>
    <ul style="display: none;" class="gn-submenu">
        <li><a href="{{ urlFor('about.me') }}" title="About Me">About Me</a></li>
        <li><a href="{{ urlFor('about.site') }}" title="About This">About This</a></li>
    </ul>
</li>

<!-- Contact Us -->
<li><a href="javascript:void(0)" title="Contact Me"><i class="fa fa-phone"></i> Contact</a></li>



