{% verbatim %}
<script id="entry-template" type="text/x-handlebars-template">
<div class="pub-tag" id="publist">
{{#items}}
	<div class="template item panel" data-type="{{type}}" data-year="{{issued.date-parts}}" style="z-index:{{index}};">
	<div class="title" data-parent="#publist" data-toggle="collapse" data-target="#item-{{id}}">
	{{{output.ref}}}
	</div>
	<div id="item-{{id}}" class="expand collapse">
		<div class="abstract">
		{{#if abstract}}
		{{ abstract }}
		{{else}}
			No abstract available
		{{/if}}
		</div>
		<div class="meta">
			<span class="project"><a href="{{project.url}}">{{project.name}}</a></span>
			{{#if DOI}}<span class="doi"><a href="{{DOI}}">DOI</a></span> {{/if}}
			{{#if BIB}}<span class="bib"><a href=""></a></span> {{/if}}
			{{#if PDF}}<span class="pdf"><a href="{{PDF}}">PDF</a></span>{{/if}}
		</div>
		<abbr class="unapi"></abbr>
        {{{output.coins}}}
	</div>
</div>
{{/items}}	
</div>
</script>
{% endverbatim %}