{% extends 'site.twig' %}


{% block pagedescription %}
    <h2>Nicolas Van Labeke</h2>
    <div class="subtitle">Researcher in Technology-Enhanced Learning
    </div>
{% endblock %}

{% block content %}
<section class="white-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div style="float: left;"><input type="text" id="tipue_search_input"></div>
                <div style="float: left; margin-left: 13px;"><input type="button" id="tipue_search_button"></div>
                <div id="tipue_search_content"><div id="tipue_search_loading"></div></div>

            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block injectCSS %}
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/gh/Tipue/Tipue-Search@3.1.0/tipuesearch/tipuesearch.css" rel="stylesheet">

{% endblock %}
{% block injectJS %}
    <script src="//cdn.jsdelivr.net/gh/Tipue/Tipue-Search@3.1.0/tipuesearch/tipuesearch_set.js"></script>
    <script src="//cdn.jsdelivr.net/gh/Tipue/Tipue-Search@3.1.0/tipuesearch/tipuesearch.min.js"></script>
    <script>
        var tipuesearch_pages =
                [
                    "{{ path_for('home') }}",
                    {% for projID in projects[1:] %}
                    "{{ path_for('project.named',{'name': projID.id}) }}",
                    {% endfor %}
                    "{{ path_for('publications.all') }}",
                    "{{ path_for('publications.named.pubReader',{'name':'2013.RANLP.Summarisation'}) }}",
                    "{{ path_for('publications.named.pubReader',{'name':'2013.FFILE.Reflection'}) }}",
                    "{{ path_for('publications.named.pubReader',{'name':'2013.DCLA.OpenEssayist'}) }}",
                    "{{ path_for('publications.named.pubReader',{'name':'2013.CAA.Experience'}) }}",
                    "{{ path_for('publications.named.pubReader',{'name':'2013.CAA.Characteristics'}) }}",
                    "{{ path_for('publications.named.pubReader',{'name':'2010.MatCom.Connecting'}) }}",
                ];
        $(document).ready(function () {

            $('#tipue_search_input').tipuesearch({
                'mode': 'live',
                'descriptiveWords': 100,
                'liveContent': '.scroller-inner,#jr-content',
                'liveDescription': '.scroller-inner,#jr-content'
            });
        });
    </script>
{% endblock %}