{# ... #}
{% import _self as macros %}

{% macro hrefDOI(name) %}{% spaceless %}
    {# To make sure all DOI are stored as identifier only but URLs are consistent #}
    <a href="//dx.doi.org/{{ name }}" title="Go to article through CrossRef's DOI">DOI</a>
{% endspaceless %}{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="//www.googletagmanager.com/gtag/js?id=UA-49330125-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-49330125-1');
    </script>


    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block injectMETA %}
    {% endblock %}

    <title>NVL | {% block urltile %}Nicolas Van Labeke Website{% endblock %}</title>

    <link rel="shortcut icon" href="/assets/images/favicon.png"/>
    <link rel="unapi-server" type="application/xml" title="unAPI" href="{{ app_base~'/api/unapi' }}"/>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/jpswalsh/academicons@1.8.1/css/academicons.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/vanch3d/jquery-oembed-all@1.2/jquery.oembed.min.css">

    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/vanch3d/MultiLevelPushMenu@1.1/css/icons.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/vanch3d/MultiLevelPushMenu@1.1/css/component.css"/>
    <style>
        .mp-level {
            background-color: white;
        }

        .mp-pusher:after {
            z-index: 210;
        }
        .skip-content
        {
            position: absolute !important;
            top: 50px;
            z-index: 1500;
        }
    </style>
    {% block injectCSS %}
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<a href="#main-content" class="skip-content sr-only sr-only-focusable">Skip to main content</a>
<div class="mp-container">

    <ul class="gn-menu-main" id="gn-menu">
        <!-- trigger -->
        <li class="gn-trigger">
            <a href="#" id="trigger" aria-label="Open main menu" class="menu-trigger"> <i class="fa fa-bars fa-lg"></i></a>

        </li>

        <!-- logo -->
        <li class="logo">
            <h1><a title="Nicolas Van Labeke" href="/"> <span class="base-color">N</span>VL
                </a></h1>

            <!-- page-title -->
        </li>
        <li class="page-title">{% if block('pagetile') %}<h2>{{ block('pagetile') }}</h2>{% endif %}</li>

        <!-- #menu-social-icons -->

            <!-- menu-social-icons -->
        <li id="menu-social-icons">

            {% include 'widgets/social.twig' %}
        </li>


    </ul>
    <!-- Push Wrapper -->
    <div class="mp-pusher" id="mp-pusher">

        <!-- mp-menu -->
        <nav id="mp-menu" class="mp-menu">
            <div class="mp-level">

                <h2 class="icon icon-world">All Categories</h2>
                <ul>
                    <li><a href="{{ urlFor('home') }}" title="Home"><i class="fa fa-home fa-fw"></i> Home</a></li>
                    <li class="icon icon-arrow-left">
                        <a href="javascript:void(0)" title="Projects"><i
                                    class="fa fa-briefcase fa-fw"></i> Projects</a>

                        <div class="mp-level">
                            <h2 class="icon icon-display">Projects</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li><a href="{{ urlFor('project.named',{ 'name' : 'safesea'}) }}" title="Go to the project">SAFeSEA</a>
                                </li>
                                <li><a href="{{ urlFor('project.named',{ 'name' : 'auditorygames'}) }}" title="Go to the project">NBRUH</a>
                                </li>
                                <li><a href="{{ urlFor('project.named',{ 'name' : 'calques3d'}) }}" title="Go to the project">Calques
                                        3D</a></li>
                                <li><a href="{{ urlFor('project.all') }}" title="All projects">See more ...</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="{{ urlFor('publications.all') }}" title="Publications"><i class="fa fa-book fa-fw"></i>
                            Publications</a></li>

                    <li class="icon icon-arrow-left">
                        <a class="" href="javascript:void(0)" title="About..."><i class="fa fa-user fa-fw"></i> About...</a>

                        <div class="mp-level">
                            <h2 class="icon icon-news">About</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li><a href="{{ urlFor('about.me') }}" title="More information about me">About Me</a></li>
                                <li><a href="{{ urlFor('about.site') }}" title="More information about the site">About This</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>

            </div>
        </nav>
        <!-- /mp-menu -->


        <div class="scroller"><!-- this is for emulating position fixed of the nav -->
            <div class="scroller-inner">
                <div class="breadcrumb-wrapper">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">

                            <div class="page-description">
                                {% block breadcrumb %}{% endblock %}
                                {% block pagedescription %}{% endblock %}
                            </div>

                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /container -->
                </div>

                <main id="main-content" tabindex="-1">
                {% block content %}{% endblock %}
                </main>

                <div class="push"></div>
            </div>
            <!-- /scroller-inner -->
            {% include 'widgets/footer.twig' %}
        </div>
        <!-- /scroller -->

    </div>
    <!-- /pusher -->
</div>
<!-- /container -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/i18next/1.7.1/i18next.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/fitvids@2.0.0/fitvids.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.easing/1.3/jquery.easing.1.3.min.js"></script>
<script src="//cdn.jsdelivr.net/snap.svg/0.2.0/snap.svg-min.js"></script>
<script src="//cdn.jsdelivr.net/gh/vanch3d/jquery-oembed-all@1.2/jquery.oembed.min.js"></script>

<script src="//cdn.jsdelivr.net/combine/gh/vanch3d/MultiLevelPushMenu@1.1/js/modernizr.custom.min.js,gh/vanch3d/MultiLevelPushMenu@1.1/js/classie.min.js,gh/vanch3d/MultiLevelPushMenu@1.1/js/mlpushmenu.min.js"></script>
{#  Using a jsDeliver combine version. If buggy, use individual packages as such
<script src="//cdn.jsdelivr.net/gh/vanch3d/MultiLevelPushMenu@1.1/js/modernizr.custom.js"></script>
<script src="//cdn.jsdelivr.net/gh/vanch3d/MultiLevelPushMenu@1.1/js/classie.js"></script>
<script src="//cdn.jsdelivr.net/gh/vanch3d/MultiLevelPushMenu@1.1/js/mlpushmenu.js"></script>
#}

<script src="//cdn.jsdelivr.net/gh/imsky/holder@2.3.2/holder.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/isotope-layout@2.1.0/dist/isotope.pkgd.min.js"></script>
<script src="/assets/js/jNVL.js"></script>

<!--
<script src="/plugins/gnmenu.js"></script>
<script src="/plugins/gmaps.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="/plugins/Melon.js"></script>
-->

<script>
$(document).ready(function () {

    new mlPushMenu(document.getElementById('mp-menu'), document.getElementById('trigger'), {
        /*  type : 'cover'*/
    });

    jNVL.initSite();

    $.i18n.init({
        //ns: { namespaces: ['ns.common', 'ns.special'], defaultNs: 'ns.common'},
        lng: 'dev',
        resGetPath: '/locales/__lng__/__ns__.json',
        useLocalStorage: false,
        debug: true
    }, function () {
        $("span, button").i18n();
    });
});
</script>

{% block injectJS %}
{% endblock %}
</body>
</html>
