<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block injectMETA %}
    {% endblock %}

    <title>NVL | {% block urltile %}Nicolas Van Labeke Website{% endblock %}</title>

    <link rel="shortcut icon" href="/assets/images/favicon.png"/>
    <link rel="unapi-server" type="application/xml" title="unAPI" href="{{ app_base~'/api/unapi' }}"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" media="screen" href="/plugins/elusive-iconfont/css/elusive-webfont.css">

    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/plugins/jquery-oembed/jquery.oembed.css">
    <link rel="stylesheet" type="text/css" href="/plugins/MultiLevelPushMenu/css/icons.css"/>
    <link rel="stylesheet" type="text/css" href="/plugins/MultiLevelPushMenu/css/component.css"/>
    <style>
        .mp-level {
            background-color: white;
        }

        .mp-pusher:after {
            z-index: 210;
        }
    </style>
    {% block injectCSS %}
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="mp-container">

    <ul class="gn-menu-main" id="gn-menu">
        <!-- trigger -->
        <li class="gn-trigger">
            <a href="#" id="trigger" class="menu-trigger"> <i class="fa fa-bars fa-lg"></i></a>

        </li>

        <!-- logo -->
        <li class="logo">
            <h1><a title="Nicolas Van Labeke" href="/"> <span class="base-color">N</span>VL
                </a></h1>

            <!-- page-title -->
        </li>
        <li class="page-title"><h2>{% block pagetile %}{% endblock %}</h2></li>

        <!-- #menu-social-icons -->

        <li id="menu-social-icons">
            <!-- menu-social-icons -->
            <ul class="menu-social-icons">
                <li><a title="LinkedIn" href="https://uk.linkedin.com/in/nvanlabeke/"><i class="fa fa-linkedin"></i></a>
                </li>
                <li><a title="Facebook" href="https://www.facebook.com/nicolas.vanlabeke"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a title="Slideshare" href="https://www.slideshare.net/nicolasVL"><i class="el-icon-slideshare"></i></a>
                </li>
                <li><a title="GitHub" href="https://github.com/vanch3d"><i class="fa fa-github"></i></a></li>
                <li><a title="Mendeley" href="https://www.mendeley.com/profiles/nicolas-van-labeke/"><i
                                class="nvl nvl-mendeley"></i></a></li>
            </ul>
        </li>

    </ul>
    <!-- Push Wrapper -->
    <div class="mp-pusher" id="mp-pusher">

        <!-- mp-menu -->
        <nav id="mp-menu" class="mp-menu">
            <div class="mp-level">

                <h2 class="icon icon-world">All Categories</h2>
                <ul>
                    <li><a href="{{ urlFor('home') }}" title="Home"><i class="fa fa-home fa-fw"></i> Home</a></li>
                    <li class="icon icon-arrow-left">
                        <a href="javascript:void(0)" title="Projects"><i
                                    class="fa fa-briefcase fa-fw"></i> Projects</a>

                        <div class="mp-level">
                            <h2 class="icon icon-display">Projects</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li><a href="{{ urlFor('project.named',{ 'name' : 'safesea'}) }}" title="SAFeSEA">SAFeSEA</a>
                                </li>
                                <li><a href="{{ urlFor('project.named',{ 'name' : 'auditorygames'}) }}" title="NBRUH">NBRUH</a>
                                </li>
                                <li><a href="{{ urlFor('project.named',{ 'name' : 'calques3d'}) }}" title="Calques 3D">Calques
                                        3D</a></li>
                                <li><a href="{{ urlFor('project.all') }}" title="All projects">See more ...</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="{{ urlFor('publications.all') }}" title="Publications"><i class="fa fa-book fa-fw"></i>
                            Publications</a></li>

                    <li class="icon icon-arrow-left">
                        <a class="" href="javascript:void(0)" title="About..."><i class="fa fa-user fa-fw"></i> About...</a>

                        <div class="mp-level">
                            <h2 class="icon icon-news">About</h2>
                            <a class="mp-back" href="#">back</a>
                            <ul>
                                <li><a href="{{ urlFor('about.me') }}" title="About Me">About Me</a></li>
                                <li><a href="{{ urlFor('about.site') }}" title="About This">About This</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>

            </div>
        </nav>
        <!-- /mp-menu -->


        <div class="scroller"><!-- this is for emulating position fixed of the nav -->
            <div class="scroller-inner">
                <div class="breadcrumb-wrapper">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">

                            <div class="page-description">
                                {% block breadcrumb %}{% endblock %}
                                {% block pagedescription %}{% endblock %}
                            </div>

                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /container -->
                </div>

                {% block content %}{% endblock %}

                <div class="push"></div>
            </div>
            <!-- /scroller-inner -->
            {% include 'widgets/footer.twig' %}
        </div>
        <!-- /scroller -->

    </div>
    <!-- /pusher -->
</div>
<!-- /container -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/i18next/1.7.1/i18next.min.js"></script>
<script src="//cdn.jsdelivr.net/fitvids/1.1.0/jquery.fitvids.js"></script>
<script src="//cdn.jsdelivr.net/jquery.easing/1.3/jquery.easing.1.3.js"></script>
<script src="//cdn.jsdelivr.net/jquery.nicescroll/3.5.4/jquery.nicescroll.min.js"></script>
<script src="//cdn.jsdelivr.net/snap.svg/0.2.0/snap.svg-min.js"></script>
<script src="/plugins/MultiLevelPushMenu/js/modernizr.custom.js"></script>
<script src="/plugins/jquery-oembed/jquery.oembed.js"></script>
<script src="/plugins/holder.js"></script>
<script src="/plugins/classie.js"></script>
<script src="/plugins/gnmenu.js"></script>
<script src="/plugins/isotope.pkgd.js"></script>
<script src="/plugins/MultiLevelPushMenu/js/classie.js"></script>
<script src="/plugins/MultiLevelPushMenu/js/mlpushmenu.js"></script>
<script src="/plugins/jNVL.js"></script>
<!-- <script src="/plugins/gmaps.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>

<script src="/plugins/Melon.js"></script>-->

<script>
    $(document).ready(function () {

        new mlPushMenu(document.getElementById('mp-menu'), document.getElementById('trigger'), {
            /*  type : 'cover'*/
        });

        jNVL.initSite();

        $.i18n.init({
            //ns: { namespaces: ['ns.common', 'ns.special'], defaultNs: 'ns.common'},
            lng: 'dev',
            resGetPath: '/locales/__lng__/__ns__.json',
            useLocalStorage: false,
            debug: true
        }, function () {
            $("span").i18n();
        });
        $(".scroller").niceScroll({
            scrollspeed: 70,
            mousescrollstep: 10,
            cursorwidth: 12,
            cursorborder: 0,
            cursorcolor: '#333333',
            autohidemode: false,
            zindex: 6998,
            horizrailenabled: false,
            cursorborderradius: 0
        });
    });
</script>

{% block injectJS %}
{% endblock %}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-49330125-1', 'calques3d.org');
    ga('send', 'pageview');
</script>
</body>
</html>
