{% extends 'site.twig' %}

{% block injectCSS %}
<style>
.item
{
	width: 100%;
}

.item[data-type='apple'] .title
{
	color: red;
}
.item[data-type='orange'] .title
{
	color: orange;
}
</style>
{% endblock %}

{% block content %}

<div class="container panel-group" >


<div class="iso-container" id="publist">
	{% for i in 1..15 %}
	<div class="item panel" data-nb="{{ loop.index }}" data-type="{{ random(['apple', 'orange', 'citrus']) }}">
		<div class="title" data-parent="#publist" data-toggle="collapse" data-target="#item-id{{ loop.index }}"><span>{{ loop.index }}</span> - dfdffd dsf dfsg dfg dfg dfg df</div>
		<div class="expand collapse" id="item-id{{ loop.index }}">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
	</div>
	{% endfor %}
</div>

</div>


{% endblock %}

{% block injectJS %}
<script type="text/javascript">
$(document).ready(function()
{
	var $container = $('#publist').isotope({
		itemSelector: '.item',
		layoutMode: 'vertical',
		getSortData: {
		    year: function(elem){
                return parseInt($(elem).attr('data-nb'));
            }
		},
		sortBy : 'year',
		sortAscending: false 
	});

	$('.expand').on('hidden.bs.collapse', function () {
		  console.log("hidden");
		  $container.isotope('layout');
		});
	$('.expand').on('shown.bs.collapse', function () {
		console.log("shown");
		$container.isotope('layout');
	});
	
	
	/*var $container = $('#publist').isotope({
		getSortData: {
		    year: '[data-year]'
		},
		sortBy : 'year',
		sortAscending: false 
	});
	$container.isotope( 'on', 'layoutComplete', updateZotero);*/
				
	/*// filter items on button click
	$('.btn-filter').click(function( event ) {
		$('.btn-filter,.btn-clear').removeClass("active");
		$(this).addClass("active");
	  	var filterValue = $(this).attr('data-filter-value');
	  	var filterType = 'data-' + $(this).attr('data-filter-type');
	  	$container.isotope({ filter: "["+filterType+"='"+filterValue+"'],[data-group='true']"});
	  	//$container.isotope({ filter: "["+filterType+"='"+filterValue+"']"});
	});
	$('.btn-clear').click(function( event ) {
		$('.btn-filter').removeClass("active");
		$(this).addClass("active");
	  	$container.isotope({ filter: "*"});
	});*/
});
</script>
{% endblock %}